* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif' , sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: -120px;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #F7DC6F;
}
.navbar a.active{
    color:white;
} 

.home{
    height: 100vh;
    background: linear-gradient(-90deg, #000033 70%, white 30%);
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    background: #000033;
    border-radius: 50%;
    border:25px solid white;
    outline: 25px solid #000033;
}

.home-image img{
    position: relative;
    bottom: 19px;
    right: 5px;
    max-width: 356px;
}

home-content{
    max-width: 600px;
    color: #D7BDE2;
    text-align: right;
}

.home-content h1{
    color: white;
    font-size: 55px;
    line-height: 1.2;
    padding: 2px;
    margin-left: 40px;

}

.home-content h3{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: .5px #6666FF;
    background-image: linear-gradient(#85C1E9, #000099);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -800px 0;
    animation: animateText 6s linear infinite;
    margin-left: 45px;
}

@keyframes animateText{
    0%, 95%, 100%{
        background-position: -800px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

.home content p{
    font-size: 16px;
    margin-top: 20px;
}

.home-sci{
    margin: 25px, 0 40px;
    margin-left: 25px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #42A5F5;
    border-radius: 50%;
    font-size: 22px;
    color: #0000FF;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}  

.home-sci a:hover{
    background: #42A5F5;
    color: #0000FF;
    box-shadow: 0 0 10px white;
    border-color: none;
}

.btn{
    position: absolute;
    margin-top: 40px;
    margin-left: 45px;
    padding: 12px 40px;
    background: #4FC3F7 ;
    border-radius: 40px;
    font-size: 18px;
    color: #000033;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px white;
    transition: .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn :hover{
    color: red;
    box-shadow: none;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    font-size: 20px;
    background: url(aboutme.jpg);
    background-size: cover;
}

.about-me{
    margin-left: 30px;
    color: white;
    margin-top: 30px;
}

.about-me p{
    text-align: justify;
    margin-top: 20px;
    color:khaki;
    margin-right: 150px;
    margin-left: 30px;
    font-family: Times, Times New Roman, serif;
    line-height: 1.5;
    font-size: 22px;
}

.about h1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #FF1509;
    margin-top: -30px;
    margin-left: 250px;
    text-shadow: 4px 4px black;
} 

.about h2{
    font-style: bold;
    font-style: oblique;
    color:#FFEE58 ;
    margin-left: 30px;
    font-family: Snell Roundhand, cursive;
}

.about a{
    margin-left: 720px;
    margin-top: 30px;
    background: #B0BEC5;
    color: black;
}
 .about a:hover{
    color: red;
    box-shadow: none;
    background: black;   
 }

 .about-me i{
    color: yellow;
 }

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
}

.contact-me h1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #FF66CC;
    text-shadow: 4px 4px black;
    margin-left: -450px;
    font-size: 30px;
    margin-top: 60px;
}

.contact p {
    color: white;
    font-size: 15px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info{ 
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    margin-left: -50px;
}

.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #FF1509;
    flex-direction: column;
    font-weight: 300;
}

.box h3{
    color: #42A5F5 ;
    font-family: Noto Sans, sans-serif;
}

.contact-form{
    width: 35%;
    height: 70%;
    padding: 40px;
    background: #E8EAF6;
    margin-left: -100px;
}

.contact-form h2{
    font-size: 20px;
    color: #000066;
    font-weight: 500;
}

.inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.inputbox input,
.inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    resize:none;
}

.inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: black;
}

.contact-form .inputbox input:focus ~ span,
.contact-form .inputbox input:valid ~ span,
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:valid ~ span{
    color: #FF1509;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .inputbox input[type="submit"]{
    width: 100px;
    background: #33FF00;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 115px;
}

